.profile-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .profile-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%; /* Make the button a circle */
    width: auto; /* Adjust width to fit content */
    height: 40px; /* Set a fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px; /* Add padding for better appearance */
  }
  
  .dropdown-menu {
    display: block;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-menu button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
  }
  
  .dropdown-menu button:hover {
    background-color: #ddd;
  }